
:root {
    --red-color :#BE3144;
    --Yellow-color:#ffc107;
    --white-color: #ffffff;
}

.first-header{
    background-color: var(--red-color);
}

.first-header-right{
    background-color: var(--Yellow-color);
}

.left-second-header{
    color:var(--red-color) !important;
}

.a-underline:hover{
    color: var(--red-color) !important;
    text-decoration: underline !important;
}

.home{
    color: var(--red-color) !important;
    text-decoration: underline !important;
}

.header-login{
    color: var(--red-color) !important;
}

.carousel-image-div{
    width: 100%;
    height: 700px;
}

.carousel-image-div img{
    width: 100%;
    height: 700px;
    object-fit: cover;
}

.caption-div{
   
    font-weight: bold;
    text-align: left !important;
    margin-bottom: 120px !important;
}

.caption-div span{
    color: var(--Yellow-color);
}

.caption-div h1{
    font-size: 70px;
}

.caption-div p{
    font-size: 20px;
}


.carousel-image-div{
    position: relative;
}

.color-overlay-div{
    position: absolute;
    height: 100%;
    width: 85%;
    top: 0;
    bottom: 0;
    background-image: linear-gradient(to right, #BE3144, transparent);
    opacity: 0.7;
}

.previous-next{
    background-color: #ffc107 !important;
    width: 50px !important;
    height: 50px !important;
}

.login-button{
    color: #BE3144 !important;
    width: 158px !important;
    height: 53px !important;
}

.sign-up-button{
    color: #ffc107 !important;
    border: #ffffff 1px solid !important;
    
}

.carousel-section{
    position: relative;
   
}
.carousel-inner{
    height: 100vh;
}
/*.about-us-div{*/
/*    width: 30%; */
/*}*/
.about-service-faq-div h1{
    color: #BE3144 !important;
}
.subtittle{
    color: #ffc107 !important;
}
.the-divider{
    border: #ffc107 5px solid;
    width: 15%;
    
    
}

.card-title{
    color: #ffc107 !important;
}

.card{
    height: auto !important;
    
}

.card-body:hover{
    background-color: #BE3144;
    color: white;
}

.expected-outcome div{
    background-color: #4b3333 !important;
    color: white;
    width: 46%;
    margin: 1%;
    /* margin: 1px; */
    font-weight: bold;
    padding: 20px;
    border-radius: 5px;
    /* text-align: center; */
}
.footer-icon{
    text-decoration: none;
}
@media (max-width: 475px){
    .caption-div h1{
        font-size: 50px;
    }
}
@media (max-width: 575px){
    .caption-div p{
        font-size: 15px;
    }
    .previous-next{
        position: absolute;
        left: 10px;
        right: 10px;
        bottom: 30px;
    }
}
@media (min-width: 575px){
    .expected-outcome div{
        width: 21%;
        
    }
   
}
@media (max-width: 575px){
    .expected-outcome p{
        font-size: 14px;
        
    }
   
}


@media (min-width: 768px) {
    .about-us-div{
       width: 25%; 
        
    }
    
}
@media (min-width: 768px) {
    .card{
        height: auto !important;
    }
    
}
@media (max-width: 575.98px){
    .caption-div{
        position: absolute;
        left: 10px !important;
        right: 10px !important;
        bottom: 50px !important;
        
        
    }
    .carousel-control-prev{
        margin-top: 500px !important;
    }
    .carousel-control-next{
        margin-top: 500px !important;
    }

    .caption-div h1 {
        font-size: 50px;
    }

    .caption-div p {
        font-size: 15px !important;
    }
}
