/* sm */
 @media (max-width: 475.98px) { 
    .carousel-caption h1 {
        font-size: 40px !important;
    }
    
}


/* sm */
 @media (max-width: 575.98px) { 
    .carousel-caption {
        left: 10px !important;
        right: 10px !important;
    }

    .carousel-caption h1 {
        font-size: 50px;
    }

    .carousel-caption p {
        font-size: 15px !important;
    }

    .The-left-and-right-button {
        position: absolute;
        left: 10px;
        right: 10px;
        bottom: 50px;
        background-color: lightblue !important;
     }
    
 }


 /* sm */
 @media (max-width: 575.98px) { 
    .Login-form {
        width: 100%;
    }

    .The-form-container {
        border-radius: 10px !important;
    }
    
 }


/* sm */
 @media (max-width: 360px) { 
    .Login-button {
        margin-bottom: 15px !important;
    }
    
 }


 /* Code for the registration */
 @media (max-width: 767.98px) { 
    .The-input-container {
        width: 100% !important;
    }
  }

